const divStyle = {
	width: '400px',
	margin: '5px',
	padding: '5px',
	backgroundColor: '#F8F8F8',
	textAlign: 'center',

};

const inlineStyle = {
	display: 'inline-block'
}

const buttonStyle = {
	width: '75%',
	backgroundColor: '#253AE4',
	color: 'white',
	textAlign: 'center',
	height: '75px',
	margin: '0 auto'
}

const inputLightStyle = {
	borderColor: '#8D8C8D',
	borderStyle: 'solid',
	margin: '15px auto',
	borderWidth: '1.5px',
	width: '70%',
	height: '50px'
}

const inputDarkStyle = {
	borderColor: '#484848',
	borderStyle: 'solid',
	margin: '15px auto',
	borderWidth: '1.5px',
	width: '70%',
	height: '50px'
}

const rowStyle = {
	width: '100%'
}

const colStyle = {
	display: 'inline-grid',
	width: '100%'
}

const labelStyle = {
	textAlign: 'left',
	
}